.vscode/

/.cursor/*
!/.cursor/rules/
!/.cursor/README.md
!/.cursor/mcp_server_usage.md
!/.cursor/Cursor_Rules_by_ChatGPT.md

/venv311/

/__pycache__/
__pycache__/

histograms/
reports/

logs/

test_index/

/index/

datasets/*.json
datasets/**/*.json

/85k/

.history/

#Ignore vscode AI rules
.github\instructions\codacy.instructions.md

.codacy/
.github/

covers_index/

.serena/
_covers_index/

_test_data/
_test_data_db/

