.vscode/

/.cursor/*
!/.cursor/rules/
!/.cursor/README.md
!/.cursor/mcp_server_usage.md
!/.cursor/Cursor_Rules_by_ChatGPT.md

/venv311/

/__pycache__/
__pycache__/

histograms/
reports/

logs/

test_index/

